body {
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: white;
            font-family: sans-serif;
            text-transform: uppercase;

        }

        .btn {
            background-color: pink;
            padding: 20px 40px;
            border-radius: 5px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
            text-decoration: none;
            position: relative;
            color: white;
            overflow: hidden;

        }

        .btn span {
            position: relative;
            z-index: 1;
        }

        .btn::before {
            content: "";
            position: absolute;
            background-color: orangered;
            width: 0px;
            height: 0px;
            top: var(--yPos);
            left: var(--xPos);
            transform: translate(-50%, -50%);
            border-radius: 50%;
            transition: width 0.5s, height 0.5s;
        }

        .btn:hover::before {
            width: 300px;
            height: 300px;
        }
